html, body {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.header{
	width 				: 100%;
	height 				: 100px;
	background-color	: gainsboro;
}

.header_frame{
	width 				: 1100px;
	height 				: 100px;
	margin-left 		: auto; 
	margin-right 		: auto;
	font-family		: arial, 'Hiragino Sans GB', 'Microsoft Yahei';
}
.header_logo{
	width 				: 400px;
	height 				: 100px;
	float: left;
}
.header_logo a{
	display: block;
	width: 80px;
	height: 80px;
	background: url(../img/logo_gree.png);
	float: left;
}
.header_logo_words{
	width: 250px;
	height:95px;
	float: left;
}
.header_logo_words h3{
	width: 250px;
	height: 25px;
	margin-top: 20px;
	margin-bottom: 0px;
	float: left;
	color: #2c3e50;
}
.header_logo_words h4{
	width: 150px;
	height: 30px;
	text-align: center;
	margin-top: 5px;
	margin-left: 30px;
	float: left;
	color: #2c3e50;
}

.gree_words{
	width 				: 500px;
	height 				: 50px;
	position: absolute;
 	left: 40%;
 	margin-top: 30px;

}
.gree_words_common{
	display: block;
	width: 450px;
	height: 50px;
	background: url(../img/logo_words.png) no-repeat;
}

.logined_name{
	width: 250px;
	height: 50px;
	margin-top: 10px;
	float: right;

}
.logined_name td{
	width: 90px;
	
}
.logined_name h4{
	color: #1ABC9C;
	
}
.login_exit{
	width: 50px;
	height: 30px;
	background: #fff;
    border: 2px solid #FF4040;
    font-family		: arial, 'Hiragino Sans GB', 'Microsoft Yahei';
    color: #FF4040;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
    -webkit-font-smoothing: subpixel-antialiased;
}
.login_exit:hover{
	background: #FF4040;
	color: #fff;
}

